<div class="box-content">
    <div class="modal__content">

      <ul *ngFor="let msg of messages.slice().reverse()" class="chat">
        <ng-container class="gg" *ngIf="currentUser.username == msg.sentByUsername; else onLeft">
          <li class="right">
            <span class="message">
              <span class="time">{{formatDate(msg.sentAt)}}</span>
              <span class="text">
                {{msg.messageTxt}}
              </span>
            </span>
          </li>
        </ng-container>


        <ng-template class="hh" #onLeft>
          <li class="left">
            <div class="message  d-flex flex-column">
              <span class="fw-bold">{{msg.sentByUsername}}</span>
              <span class="">{{formatDate(msg.sentAt)}}</span>
              <span class="text">
                {{msg.messageTxt}}
              </span>
            </div>
          </li>
        </ng-template>
      </ul>

      <div class="chat-form" [style]="textFieldCSS">
        <form method="post" class="d-flex justify-content-around align-items-center">
          <textarea #msgToSend></textarea>
          <mat-icon (click)="send(msgToSend.value); msgToSend.value=''">send</mat-icon>
        </form>
      </div>
    </div>
  </div>
