<mat-toolbar class=" fixed sticky header_rect">
    <mat-toolbar-row fxLayoutAlign="center center" class="example-icon">
        <input type="text" class="form-control" (keyup)="getsearchbar($event)" #search>
        <button mat-icon-button class=" search-icon" aria-label="Example icon-button with search icon" (click)="getsearchbar($event)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>


<div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="flex-start">
    <div fxFlex.xs="50%" *ngFor="let city of title">
        <div *ngIf="city.deal!"></div>
        <a>
            <mat-card class="mat-elevation-z4">
                <img mat-card-image src="">
                <mat-card-content>
                    <mat-card-title>
                        {{city.title}}
                    </mat-card-title>
                    <p>
                        {{city.price}}
                    </p>
                </mat-card-content>
            </mat-card>
        </a>
        <div *ngIf="city?.length < 1">
            <p>Sorry, no city found</p>
        </div>
    </div>
</div>
