<div class="header_rect p-3 searchbar" [style]="searchCSS">
    <div class="container-fluid">
        <form class="d-flex align-items-center">
            <input type="search" placeholder="Rechercher" class="form-control me-1 input-search" aria-label="Rechercher" #strSearch />

            <button type="button" (click)="search(strSearch.value);" mat-icon-button class="search-btn" aria-label="Rechercher">
        <mat-icon>search</mat-icon>
      </button>

            <button (click)="switchFilters()" class="btn btn-outline-secondary btn-sm" type="button">
        Filtres <span *ngIf="selectedResidence" class="badge badge-filter" id="badgeFilter">1</span>
      </button>

        </form>
    </div>
</div>

<div *ngIf="showFilters" class="mx-4 mt-3 px-2 py-2 filters-container" [style]="filterCSS">
    <h3 class="ms-2">Filtres</h3>

    <select class="form-select custom-select" name="residence" id="residence" #residenceRef (change)="onChangeResidence(residenceRef.value, strSearch.value)">

    <div *ngIf="!selectedResidence; then noneSelected else noneNotSelected"></div>

    <ng-template #noneSelected>
      <option selected value="none">-- Résidence --</option>
      <ng-container *ngFor="let res of residences">
        <option value={{res.name}}>{{res.name}}</option>
      </ng-container>
    </ng-template>

    <ng-template #noneNotSelected>
      <option value="none">-- Résidence --</option>
      <ng-container *ngFor="let res of residences">
        <option *ngIf="selectedResidence && res.name == selectedResidence.name" selected value={{res.name}}>{{res.name}}</option>
        <option *ngIf="selectedResidence && res.name != selectedResidence.name" value={{res.name}}>{{res.name}}</option>
      </ng-container>
    </ng-template>

  </select>
</div>

<div>
    <!-- L'accueil utilise le patron maitre-detail  -->
    <div class="content" [style.display]="adsDisplay" [style]="adsCSS">
        <h3>Résulats de la recherche</h3>

        <div *ngIf="ads.length > 0; else noAds">
            <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="flex-start" class="detail">
                <div fxFlex="50" *ngFor="let ad of ads" [class.selected]="ad === selected" (click)="onSelect(ad)" class="select">
                    <mat-card class="mat-elevation-z4">
                        <ng-container *ngIf="ad.imagesUrl.length == 0; else imgAvailable">
                          <img mat-card-image src="../../../assets/img/no-photo-available.png" alt="Image de l'annonce" class="cover">
                        </ng-container>
                        <ng-template #imgAvailable>
                          <img mat-card-image src="{{ ad.imagesUrl }}" alt="Image de l'annonce" class="cover">
                        </ng-template>
                        <mat-card-content>
                            <mat-card-title>
                                {{ad.title}}
                            </mat-card-title>
                            <p>
                                {{ad.price}} $CA
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="ad-details" [style]="detailsCSS" id="ad-details" *ngIf="selected != null" [style.display]="adDetailsDisplay" >
        <button mat-icon-button class="btn-close" [disableRipple]="true" (click)="redirectedToAdsList()" type="button" [style.display]="returnDisplay">
            <mat-icon class="close">close</mat-icon>
        </button>
        <app-ad-details [ad]="selected" [user]="user">
        </app-ad-details>
    </div>
</div>



<ng-template #noAds>
    Aucune annonce trouvée pour votre recherche.
</ng-template>
