<div class="content">
    <h3>Résulats de la recherche</h3>

    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="flex-start" >
        <div fxFlex.xs="50%" *ngFor="let res of residences">
            <a routerLink="/home/">
                <mat-card class="mat-elevation-z4">
                   <img mat-card-image src="">
                   <mat-card-content>
                       <mat-card-title>
                          {{res.name}}
                       </mat-card-title>
                       <p>
                         
                       </p>
                   </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
    
</div>

<ng-template #noAds>
    Il n'y a pas d'annonces pour cette résidence.
</ng-template>
 
 