<div class="content">
    <h3>Résulats de la recherche</h3>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="flex-start" >
        <div fxFlex="50" *ngFor="let i of [1,2,3,4,5,6,7]">
            <div *ngFor="let ad of ads">
                <a  [title]="'Détails de : ' + ad.title"
                    [routerLink]="['/home/ads', ad.id, 'details']">
                    <mat-card class="mat-elevation-z4">
                        <img mat-card-image src="../../../assets/img/asus-router.jpg">
                            <mat-card-content>
                                <mat-card-title>
                                    {{ad.title}}
                                </mat-card-title>
                                <p>
                                    {{ad.price}}$CA
                                </p>
                            </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #noAds>
    Il n'y a pas d'annonces pour cette résidence.
</ng-template>

