<div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" #email/>
</div>
<div class="mb-3">
  <label for="password" class="form-label">Mot de passe</label>
  <input type="password" class="form-control" id="password" #password>
</div>

<button *ngIf="signup === false" class="btn btn-primary" (click)="login(email.value, password.value)">Connexion</button>
<button *ngIf="signup === true" class="btn btn-primary" (click)="register(email.value, password.value)">S'inscrire</button>

<button *ngIf="signup === false" (click)="change()">Sign up?</button>
<button *ngIf="signup === true" (click)="change()">Sign in?</button>
