<h2>Mes Annonces</h2>

<ul class="list-group list-group-flush" *ngIf="ads.length > 0; else noAds">
  <li class="list-group-item py-4" *ngFor="let ad of ads">
    <div class="d-flex w-100 justify-content-between">
      <a  [title]="ad.tilte + ' details'"
          [routerLink]="['/ads', ad.id]"
          class="link-dark d-inline-block text-truncate" style="max-width: 10rem;">
        {{ ad.title }}
      </a>

    </div>
  </li>
</ul>

<ng-template #noAds>
  Vous n'avez pas d'annonces en ligne
</ng-template>
