<br/>
<br/>
<h1>Bienvenue {{user.username}}</h1>
<h2>Mes annonces</h2>
<ul class="list-group list-group-flush" *ngIf="ads.length > 0; else noAds">
  <li class="list-group-item py-4" *ngFor="let ad of ads">
    <div class="d-flex justify-content-between align-items-center">
      <a  [title]="'Détails de : ' + ad.title"
          [routerLink]="['/home/ads', ad.id, 'details']"
          class="link-dark d-inline-block text-truncate fs-6 me-2"
          style="max-width: 50vw;">
        {{ ad.title }}
      </a>

      <div class="d-flex flex-row justify-content-between align-items-center" style="min-width: 10vw;">
        <button *ngIf="!ad.deal" class="btn-sm btn-deal" (click)="markAdAsDealByRef(ad.id, ad.adRef, ad.title)">Deal</button>
        <button *ngIf="ad.deal" class="btn-sm btn-secondary" (click)="cancelAdDealByRef(ad.id, ad.adRef, ad.title)">Rétablir</button>
        <button class="btn-sm btn-danger-custom" (click)="deleteAd(ad.id, ad.adRef, ad.title)">Supprimer</button>
      </div>
    </div>
  </li>
</ul>

<ng-template #noAds>
  Vous n'avez pas d'annonces en ligne
</ng-template>
