<div class="messagerie">


<div *ngIf="(authService.user |async);else notLoggedIn">
  <h2>Mes messages</h2>
  <div class="list-group list-group-flush" *ngIf="chats.length > 0; else noChat">
    <div *ngFor="let chat of chats">
      
      <div class="chat">
        <div class="chat-content">
        <div *ngIf="chat.members.u1Username == user.username; else user1">
        <p class="nameContact">{{chat.members.u2Username}}</p>
        </div>
        <ng-template #user1>
        <p class="nameContact">{{chat.members.u1Username}}</p>
        </ng-template>
        <div *ngIf="chat.lastMessage.username == user.username; else pasMoi">
          <p class="chat-text">Vous : {{chat.lastMessage.messageText}}</p>
          </div>
          <ng-template #pasMoi>
          <p class="chat-text">{{chat.lastMessage.messageText}}</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<ng-template #notLoggedIn>
  <app-sign-in [redirectTo]="path"></app-sign-in>
</ng-template>


<ng-template #noChat>
  Aucune conversation n'a été commencée.
</ng-template>