.container {
    width: auto;
    height: auto;
    padding: 16px;
    padding-right: 28px;
}

.modal__content {
    position: absolute;
    width: 100%;
    bottom: 80px;
    top: 5px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 10px;
}

label {
    padding: 5px;
}

.btn {
    background-color: #ff7900;
    color: white;
    border: none;
}

mat-icon {
    font-size: 40px;
    color: #516079;
}

.image-container {
    width: 40vw;
    height: 40vw;
}

.custom-preview {
    width: 40vw;
    height: 40vw;
}
