<footer>
    <mat-toolbar class="toolbarNav" fxShow fxHide.lg="false">
        <mat-toolbar-row fxLayoutAlign="space-around center">
            <button mat-icon-button routerLink="/home" routerLinkActive="active-link">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons color_blue">
      home</mat-icon>
    <span class="footer_icon">Accueil</span>
  </button>
            <button mat-icon-button routerLink="/messages" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue">chat_bubble
    </mat-icon>
    <span class="footer_icon">Messages</span>
  </button>
            <button mat-icon-button routerLink="/publish" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue">add_circle
    </mat-icon>
    <span class="footer_icon">Publier</span>
  </button>
            <button mat-icon-button routerLink="/account" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue">account_circle</mat-icon>
    <span class="footer_icon">Compte</span>
  </button>
        </mat-toolbar-row>
    </mat-toolbar>
</footer>
