


<div>
    <!--On utilisera la gallery quand on accepte plusieurs images pour un article-->
    <!--gallery  [items]="images" [thumb]="false"></gallery-->
    
    <div fxFill class="img-background">
        <img src="{{ad.imagesUrl}}" alt="Image de l'annonce" class="cover">
    </div>
    <div class="details">
        <h2>{{ad.title}}</h2>
        <h3>{{ad.price}}$CA</h3>
        <table>
            <tr>
                <th>Résidence</th>
                <td>{{ad.residenceName}}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ad.category}}</td>
            </tr>
            <tr>
                <th>État</th>
                <td>{{ad.state}}</td>
            </tr>
        </table>
        <p><span></span> </p>
        <p><span></span> </p>
        <p><span></span> </p>
        <p><span>Description</span></p>
        <p>{{ad.description}}</p>
    </div>
</div>
