gallery {
    height: 35vh;
}

.details{
    padding: 20px;
    padding-bottom: 100px;
    width: 100%;
    min-height: 65vh;
}

span{
    font-weight: bold;
}

.ad-titre{
    font-size: 20px;
    font-weight: bold;
}
.ad-price{
    font-size: 18px;
    font-weight: bold;
    color: #ff7900;
}

.ad-descr{
    font-size: 15px;
    font-weight: bold;
}

td{
    padding: 5px 0px 0px 25px;
}

.ad-tableau{
    padding: 10px 0px 20px 0px;
}



.cover {
    object-fit: cover;
    max-width: 100%;
    height: 35vh;
    text-align: center;
    margin:auto;
    display:flex;
}

.img-background{
    background-color: black;
}